.card{
    width: 245px;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    background-color: rgba(119, 63, 57, 0.24);
    flex-grow: 1;
}

.red{
    color: red;
    font-family: Arial;
    font-size: 80%;
}

.shop{
    display: flex;
    flex-wrap: wrap;
}