<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Подключение VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue__app">
        <h1>Это информация о городе {{ name }}</h1>
        <p>Он был основан в {{ dob }} году</p>
        <p>
            <input type="text" v-model="name">    
            <button @click="clickShowImgBtn">Show/Hide</button>
        </p>
        <p><img :src="imgUrl" alt="" width="400" v-if="isShowImage"></p>
        <ul>
            <li v-for="st in students">{{st.name}} : {{st.height}}см</li>
        </ul>
    </div>
    <script src="app/main.js"></script>
</body>
</html>