@media screen and (max-width: 600px){
    body{
        font-size: 0;
    }
    
    article{
        display: block;
        width: 100%;
        border-width: 0;
        margin: 20px 0px;
        padding: 0;
    }

    h4{
        font-size: 16pt;
    }

    img{
        width: 600px;
        max-width: 100%;
    }
}